node-red/flows.json
[
    {
        "id": "d75ec33adae19baa",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "31b0a4aac983590c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b6c8d41587f98e9e",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "localhost",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "root",
        "userFieldType": "str",
        "password": "root",
        "passwordFieldType": "str"
    },
    {
        "id": "a17029a4eb598507",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "2000"
    },
    {
        "id": "00f46cd2d784d495",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB2",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "2000"
    },
    {
        "id": "c6cf9d6dcd06dcf5",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "fcc1443563760172",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB6",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "2000"
    },
    {
        "id": "56f060a80c19b466",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "2000"
    },
    {
        "id": "8f24edc78b20860c",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "2000"
    },
    {
        "id": "c87a161f622b4eaa",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "1000"
    },
    {
        "id": "891387ab6602d92d",
        "type": "mqtt out",
        "z": "d75ec33adae19baa",
        "name": "",
        "topic": "/dev/ttyUSB0/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1560,
        "y": 520,
        "wires": []
    },
    {
        "id": "27ce1d4243f9afea",
        "type": "mqtt out",
        "z": "d75ec33adae19baa",
        "name": "",
        "topic": "/dev/ttyUSB1/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1560,
        "y": 560,
        "wires": []
    },
    {
        "id": "3fa1a282d566dc73",
        "type": "debug",
        "z": "d75ec33adae19baa",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 640,
        "wires": []
    },
    {
        "id": "ac70139621bb6196",
        "type": "inject",
        "z": "d75ec33adae19baa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "e006e4636e35c22f"
            ]
        ]
    },
    {
        "id": "632ba8561a9f4655",
        "type": "postgresql",
        "z": "d75ec33adae19baa",
        "name": "local",
        "query": "SELECT * FROM ;",
        "postgreSQLConfig": "b6c8d41587f98e9e",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1530,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "9bba7b15040c726c",
        "type": "serial request",
        "z": "d75ec33adae19baa",
        "name": "",
        "serial": "c87a161f622b4eaa",
        "x": 650,
        "y": 420,
        "wires": [
            [
                "be4889a797b78e2b"
            ]
        ]
    },
    {
        "id": "ba3e96ea04319b23",
        "type": "serial request",
        "z": "d75ec33adae19baa",
        "name": "",
        "serial": "56f060a80c19b466",
        "x": 650,
        "y": 460,
        "wires": [
            [
                "7356cbea16acc3d7"
            ]
        ]
    },
    {
        "id": "b9a96e30a9c45b42",
        "type": "serial request",
        "z": "d75ec33adae19baa",
        "name": "",
        "serial": "00f46cd2d784d495",
        "x": 650,
        "y": 500,
        "wires": [
            [
                "a68efcbcb8dbbf9e"
            ]
        ]
    },
    {
        "id": "5a2d4bb631dfb0ab",
        "type": "serial request",
        "z": "d75ec33adae19baa",
        "name": "",
        "serial": "c6cf9d6dcd06dcf5",
        "x": 650,
        "y": 540,
        "wires": [
            [
                "349814a0ecf00d60"
            ]
        ]
    },
    {
        "id": "cd09b0ce988bc599",
        "type": "serial request",
        "z": "d75ec33adae19baa",
        "name": "",
        "serial": "a17029a4eb598507",
        "x": 650,
        "y": 580,
        "wires": [
            [
                "e0a2b2cd2ef12c54"
            ]
        ]
    },
    {
        "id": "65a0bdc385127b83",
        "type": "serial request",
        "z": "d75ec33adae19baa",
        "name": "",
        "serial": "8f24edc78b20860c",
        "x": 650,
        "y": 620,
        "wires": [
            [
                "f36e362958334a40"
            ]
        ]
    },
    {
        "id": "e006e4636e35c22f",
        "type": "function",
        "z": "d75ec33adae19baa",
        "name": "function 1",
        "func": "let commands = {\n    \"partCounter\" : \"RF8 S\",\n    \"serialNumber\" : \"RF51\",\n    \"deviceType\" : \"RF59\",\n    \"speed\" : \"RF20\",\n    \"force\" : \"RF21\",\n    \"temperature\" : \"RF22\",\n}\n\nfor (let i in commands) {\n    var buf1 = Buffer.from(commands[i], \"utf-8\");\n    var buf2 = Buffer.from([0x0D, 0x0A]);\n\n    var arr = [buf1, buf2];\n    var buf = Buffer.concat(arr);\n    msg.payload = buf;\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "3fa1a282d566dc73"
            ]
        ]
    },
    {
        "id": "0dbc3c7f92576450",
        "type": "debug",
        "z": "d75ec33adae19baa",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 220,
        "wires": []
    },
    {
        "id": "83b6401eef7c5b92",
        "type": "function",
        "z": "d75ec33adae19baa",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 420,
        "wires": [
            [
                "891387ab6602d92d",
                "0dbc3c7f92576450",
                "632ba8561a9f4655"
            ]
        ]
    },
    {
        "id": "8adbba5ea7b1113a",
        "type": "function",
        "z": "d75ec33adae19baa",
        "name": "function 3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 460,
        "wires": [
            [
                "27ce1d4243f9afea",
                "632ba8561a9f4655"
            ]
        ]
    },
    {
        "id": "468f5f2d73b3d6ab",
        "type": "function",
        "z": "d75ec33adae19baa",
        "name": "function 4",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 500,
        "wires": [
            [
                "cd07ef4d76ba565e",
                "632ba8561a9f4655"
            ]
        ]
    },
    {
        "id": "0a116c5151a562f8",
        "type": "function",
        "z": "d75ec33adae19baa",
        "name": "function 5",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 540,
        "wires": [
            [
                "0a7e536102930371",
                "632ba8561a9f4655"
            ]
        ]
    },
    {
        "id": "23d3055cb5100fd3",
        "type": "function",
        "z": "d75ec33adae19baa",
        "name": "function 6",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 580,
        "wires": [
            [
                "062e402a23fcaedc",
                "632ba8561a9f4655"
            ]
        ]
    },
    {
        "id": "04029c1603868baf",
        "type": "function",
        "z": "d75ec33adae19baa",
        "name": "function 7",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 620,
        "wires": [
            [
                "ff8f87b1a9222f48",
                "632ba8561a9f4655"
            ]
        ]
    },
    {
        "id": "cd07ef4d76ba565e",
        "type": "mqtt out",
        "z": "d75ec33adae19baa",
        "name": "",
        "topic": "/dev/ttyUSB2/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1560,
        "y": 600,
        "wires": []
    },
    {
        "id": "0a7e536102930371",
        "type": "mqtt out",
        "z": "d75ec33adae19baa",
        "name": "",
        "topic": "/dev/ttyUSB3/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1560,
        "y": 640,
        "wires": []
    },
    {
        "id": "062e402a23fcaedc",
        "type": "mqtt out",
        "z": "d75ec33adae19baa",
        "name": "",
        "topic": "/dev/ttyUSB4/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1560,
        "y": 680,
        "wires": []
    },
    {
        "id": "ff8f87b1a9222f48",
        "type": "mqtt out",
        "z": "d75ec33adae19baa",
        "name": "",
        "topic": "/dev/ttyUSB5/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1560,
        "y": 720,
        "wires": []
    },
    {
        "id": "e79d73fd1a25616f",
        "type": "csv",
        "z": "d75ec33adae19baa",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1310,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "da670e4fbe646d20",
        "type": "file",
        "z": "d75ec33adae19baa",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1540,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a14862ce26bbf5e4",
        "type": "comment",
        "z": "d75ec33adae19baa",
        "name": "",
        "info": "\nvar partCounter = \"RF8 S\";\nvar serialNumber = \"RF51\";\nvar deviceType = \"RF59\";\nvar speed = \"RF20\";\nvar force = \"RF21\";\nvar temperature = \"RF22\";",
        "x": 200,
        "y": 180,
        "wires": []
    },
    {
        "id": "3a6b92b262d28fe6",
        "type": "serial request",
        "z": "d75ec33adae19baa",
        "name": "",
        "serial": "fcc1443563760172",
        "x": 650,
        "y": 660,
        "wires": [
            [
                "6be4b8fd061becde"
            ]
        ]
    },
    {
        "id": "80cae698366a815b",
        "type": "function",
        "z": "d75ec33adae19baa",
        "name": "function 8",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 660,
        "wires": [
            [
                "ef9f3f65ce79591d"
            ]
        ]
    },
    {
        "id": "ef9f3f65ce79591d",
        "type": "mqtt out",
        "z": "d75ec33adae19baa",
        "name": "",
        "topic": "/dev/ttyUSB6/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1560,
        "y": 760,
        "wires": []
    },
    {
        "id": "be4889a797b78e2b",
        "type": "batch",
        "z": "d75ec33adae19baa",
        "name": "",
        "mode": "count",
        "count": "6",
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [],
        "x": 830,
        "y": 420,
        "wires": [
            [
                "83b6401eef7c5b92"
            ]
        ]
    },
    {
        "id": "7356cbea16acc3d7",
        "type": "batch",
        "z": "d75ec33adae19baa",
        "name": "",
        "mode": "count",
        "count": "6",
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [],
        "x": 830,
        "y": 460,
        "wires": [
            [
                "8adbba5ea7b1113a"
            ]
        ]
    },
    {
        "id": "a68efcbcb8dbbf9e",
        "type": "batch",
        "z": "d75ec33adae19baa",
        "name": "",
        "mode": "count",
        "count": "6",
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [],
        "x": 830,
        "y": 500,
        "wires": [
            [
                "468f5f2d73b3d6ab"
            ]
        ]
    },
    {
        "id": "349814a0ecf00d60",
        "type": "batch",
        "z": "d75ec33adae19baa",
        "name": "",
        "mode": "count",
        "count": "6",
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [],
        "x": 830,
        "y": 540,
        "wires": [
            [
                "0a116c5151a562f8"
            ]
        ]
    },
    {
        "id": "e0a2b2cd2ef12c54",
        "type": "batch",
        "z": "d75ec33adae19baa",
        "name": "",
        "mode": "count",
        "count": "6",
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [],
        "x": 830,
        "y": 580,
        "wires": [
            [
                "23d3055cb5100fd3"
            ]
        ]
    },
    {
        "id": "f36e362958334a40",
        "type": "batch",
        "z": "d75ec33adae19baa",
        "name": "",
        "mode": "count",
        "count": "6",
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [],
        "x": 830,
        "y": 620,
        "wires": [
            [
                "04029c1603868baf"
            ]
        ]
    },
    {
        "id": "6be4b8fd061becde",
        "type": "batch",
        "z": "d75ec33adae19baa",
        "name": "",
        "mode": "count",
        "count": "6",
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [],
        "x": 830,
        "y": 660,
        "wires": [
            [
                "80cae698366a815b"
            ]
        ]
    },
    {
        "id": "9211af18ddf963d7",
        "type": "delay",
        "z": "d75ec33adae19baa",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 180,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "f1dbfaa382928b49",
        "type": "inject",
        "z": "31b0a4aac983590c",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "partCounter",
        "payload": "RF8 S",
        "payloadType": "str",
        "x": 450,
        "y": 620,
        "wires": [
            [
                "c6e585db174d65eb"
            ]
        ]
    },
    {
        "id": "c6e585db174d65eb",
        "type": "function",
        "z": "31b0a4aac983590c",
        "name": "Buffer",
        "func": "var buf1 = Buffer.from(msg.payload, \"utf-8\");\nvar buf2 = Buffer.from([0x0D, 0x0A]);\n\nvar arr = [buf1, buf2];\nvar buf = Buffer.concat(arr);\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 620,
        "wires": [
            [
                "5146bd5ea328acc0"
            ]
        ]
    },
    {
        "id": "88731b1b1ae5a499",
        "type": "debug",
        "z": "31b0a4aac983590c",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1150,
        "y": 620,
        "wires": []
    },
    {
        "id": "5146bd5ea328acc0",
        "type": "serial request",
        "z": "31b0a4aac983590c",
        "name": "",
        "serial": "c87a161f622b4eaa",
        "x": 890,
        "y": 700,
        "wires": [
            [
                "88731b1b1ae5a499"
            ]
        ]
    },
    {
        "id": "3e8e0448d71fea9e",
        "type": "inject",
        "z": "31b0a4aac983590c",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "serialNumber",
        "payload": "RF51",
        "payloadType": "str",
        "x": 450,
        "y": 660,
        "wires": [
            [
                "c6e585db174d65eb"
            ]
        ]
    },
    {
        "id": "3bd3559edc1682ed",
        "type": "inject",
        "z": "31b0a4aac983590c",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "deviceType",
        "payload": "RF59",
        "payloadType": "str",
        "x": 440,
        "y": 700,
        "wires": [
            [
                "c6e585db174d65eb"
            ]
        ]
    },
    {
        "id": "a4d471c0225713b8",
        "type": "inject",
        "z": "31b0a4aac983590c",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "speed",
        "payload": "RF20",
        "payloadType": "str",
        "x": 430,
        "y": 740,
        "wires": [
            [
                "c6e585db174d65eb"
            ]
        ]
    },
    {
        "id": "150cb8e7264dda5b",
        "type": "inject",
        "z": "31b0a4aac983590c",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "force",
        "payload": "RF21",
        "payloadType": "str",
        "x": 420,
        "y": 780,
        "wires": [
            [
                "c6e585db174d65eb"
            ]
        ]
    },
    {
        "id": "20c0572f188f0162",
        "type": "inject",
        "z": "31b0a4aac983590c",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temperature",
        "payload": "RF22",
        "payloadType": "str",
        "x": 450,
        "y": 820,
        "wires": [
            [
                "c6e585db174d65eb"
            ]
        ]
    },
    {
        "id": "5c4b795b39add53f",
        "type": "status",
        "z": "31b0a4aac983590c",
        "name": "",
        "scope": null,
        "x": 420,
        "y": 480,
        "wires": [
            [
                "88731b1b1ae5a499"
            ]
        ]
    }
]